html, body {
  overflow-x: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #c5c6ccfe; */
    /* background: #212121; */
    /* color: #e0e1dd; */
    color: #b6b8d6;
}

:root {
  --bg-dark: #0b0e17;
  --bg-gradient: radial-gradient(circle at left, #3b2d63, #0b0e17 60%);
  --nav-bg: rgba(15, 18, 35, 0.8);

  --accent: #6d5dfc;
  --accent-soft: #8b7cff;

  --text-main: #ffffff;
  --text-muted: #b6b8d6;

  --glass-bg: rgba(255, 255, 255, 0.06);
  --glass-border: rgba(255, 255, 255, 0.12);
}

/* body{
  background: var(--bg-gradient);
  color: var(--text-main);
  min-height: 100vh;
} */

.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px 0 80px;
  }
  nav{
    grid-column: 1/3;
    grid-row: 1/1;
}
.msg{
    font-size: 1.7rem;
    font-weight: 700;
}
.list>ul,a{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 50px;
}
.hero{
  background-image: url(./assets/final_hero.png);
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr;
}
.hero-msg{
  padding: 40px;
  margin-top: 25%;
  margin-left: 4%;
}
.hero p:first-of-type{
  font-size: 100px;
  line-height: 85px;
  font-weight: 800;
}
.hero p:last-of-type{
  margin-top: 30px;
  width: 85%;
  margin-bottom: 40px;
}
.hero-msg button,.cv button{
  height: 40px;
  width: 120px;
  margin-right: 20px;
  color:#b6b8d6;
  background: transparent;
  border: solid 1px #6d5dfc;
  border-radius: 50px;
  transition: all 0.25s;
}
.hero-msg button:hover,.cv button:hover{
  background: #6d5dfc;
}
.hero-msg button:active,.cv button:active{
  background: #6d5dfc7e;
  
}