*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 2em;
    font-family: poppins;
    font-weight: 700;
    color: grey;
    margin-bottom: .5em;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.game{
    display: flex;
    flex-direction: column;
    height: 70vmin;
    width: 50%;
    border: solid  5px grey;
    border-radius: 1.5em;
}
.img{
    width: 30%;
    border-radius: 15%;
    object-fit: contain;
    transition: .25s;
}
img:hover{
    opacity: 0.5;
    cursor: pointer;
}
img:active{
    border: 5px solid black;
}
.rock{
    border: 5px solid rgb(53, 146, 193);
}
.paper{
    border: 5px solid rgb(210, 46, 46);
}
.scissors{
    border: 5px solid rgb(245, 188, 1);
}
.image{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 45%;
}
.score{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: green;
    margin-top: 2em;
}
.reset{
    height: 7%;
    width: 15%;
    align-self: center;
    border: none;
    border-radius: 2vh;
    background-color:rgb(210, 46, 46);
    color: white;
    font-size: larger;
    font-weight: 700;
    transition: .5s;
}
.reset:hover{
    opacity: 0.5;
}
.reset:active{
    opacity: 1;
    background-color: brown;
}
.msg{
    align-self: center;
    margin-top: 2%;
}